<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ERROR │ STREIN</title>

    <!-- icon-->
    <link rel="shortcut icon" href="/images/icono.gif">

    <!-- CSS  estilo con materialize--> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="/stylesheets/include.css" type="text/css" rel="stylesheet" media="screen"/>

    <!--  Scripts-->
    <script src="/javascript/lib/jquery.3.3.1.js"></script>
    <script src="/javascript/lib/materialize.js"></script>
    <script src="/javascript/lib/init.js"></script>

    <style type="text/css">
      .sidenav li {
          line-height: 35px;
      }
    </style>

  </head>
  <body> 

    <div class="row no-margin-bottom">
      <div class="s12 m12 l12">
        <section class="banner">
          <div class="inner center" id="inner1">
            <header>
              <h1>STREIN</h1>
              <p>Ups! algo ha ido mal.</p>
            </header>
            <a href="javascript:history.back(1)" class="btn button redusco yellowusco-text">Regresar</a>
          </div>
          <img src="/images/usquito.png">
        </section>
      </div>
    </div>
  </body>
</html>


