<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>INGRESO │ STREIN</title>

  <!-- icon-->
  <link rel="shortcut icon" href="/images/icono.gif">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="/stylesheets/include.css" type="text/css" rel="stylesheet" media="screen"/>
  <link href="/stylesheets/form.css" type="text/css" rel="stylesheet" media="screen"/>

  <!--  Scripts-->
  <script src="/javascript/lib/jquery.3.3.1.js"></script>
  <script src="/javascript/lib/materialize.js"></script>
  <script src="/javascript/lib/init.js"></script>

  <!-- Funciones -->
  <script src="/javascript/login.js"></script>

</head>
<body class="codrops-top">

  <main>
    <div class="row">
      <div class="s12 m12 l12">
      <section class="banner">
        <div class="inner" id="inner">
        <div class="card login">
          <div class="card-action redusco yellowusco-text">
            <span class="card-title">Bienvenido</span>
          </div>
          <div class="card-content">
            <form id="form1">
              <dir id="error" class="white-text"></dir> 
              <div>
                <i class="small material-icons redusco-text">email</i>
                <input class="box" type="email" name="correo" id="correo" placeholder="Correo Electrónico " required /><br>
              </div>
              
              <i class="small material-icons redusco-text">lock_open</i>  
              <input class="box" type="password" name="contra" id="contra"  placeholder="Contraseña " required/><br>
              <br>
              <div class="form-fiel center-align">
                <input type="submit" id="ingresar" class="redusco" value="INICIAR SESIÓN"/><br>
              </div>
              <br>
            </form>
          </div>
        </div>
        </div>
      </section>
      </div>
    </div>
  </main>
</body>
</html>


